# Database Configuration
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=fuelpass

MONGODB_URI=mongodb://localhost:27017/fuelpass

# Gemini API Key
GEMINI_API_KEY=
JWT_SECRET=your_jwt_secret_here
